h1 {
    font-size: 4rem;
    font-family: "Abril Fatface", serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 1px;
    color: rgb(192, 203, 190);
    animation: fadeInSlideDown 3s ease-in-out; 
    justify-content: center;
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    background-color: rgb(40, 38, 38);
}

.carousel-item{
    min-height: 50vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-image: url('/back3.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-bottom: 9rem;
}

.desc {
    position: relative;
    opacity: 0;
    transform: scale(0.5);
    animation: zoomInEffect 1.5s ease-out forwards;
    color: aliceblue;
    text-align: center;
    margin-bottom: 2rem;
}

@keyframes zoomInEffect {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3 {
    margin: 0;
}

.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3 > .col:last-child {
    margin-bottom: 0;
}

.container-fluid > .row:last-child {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 1rem;
    }
}





