<div class="container-fluid">
  <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row">
      <h1 id="title">User List</h1><br>
    </div>
    <div class="input-group mb-3" style="max-width: 500px;">
      <input type="text" class="form-control" placeholder="Enter ID or Email" [(ngModel)]="searchValue"
        (keyup.enter)="searchUsers()" style="font-size: 1.2rem;">
      <button class="btn btn-primary" (click)="searchUsers()">Search</button>
    </div>


    <table id="userList" class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList;">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ formatDate(user.createdAt || user.updatedAt) }}</td>
          <td>{{ formatTime(user.createdAt || user.updatedAt) }}</td>

          <td>
            <button class="btn btn-primary me-2" (click)="openEditUser(user)">
              <i class="bi bi-pencil-square"></i> Edit
            </button>

            <button class="btn btn-danger" (click)="deleteUsers(user.id)">
              <i class="bi bi-trash3"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-warning" (click)="loadUsers()">Reload</button>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary " routerLink="/admin"
      style="margin-right: 20px; margin-bottom: 10px;">Back</button>
  </div>
</div>