<div class="col">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-sm movie-card" style="margin-top: 10px; width: 80%;">
      <img [src]="movieInfo?.imageUrl" alt="Movie Poster" style="margin: 2px; align-items: center;" height="380px" />

      <div class="card-body">
        <h5 class="card-title">{{ movieInfo?.movieName }}</h5>
        <p class="card-text overview-text">
          {{ movieInfo?.description }}
        </p>

        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-dark" style="font-weight: bold;" (click)="viewMovie()">View</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-success" style="font-weight: bold;" (click)="saveMovieInfo()" routerLink="/suggetions">Suggestions</button>
          </div>
          <small class="text-body-secondary" style="font-size: 1.3rem; font-weight: bold;">
            {{ movieInfo?.rate }}⭐
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
