.hero-section {
    min-height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero-image {
    filter: brightness(50%);
    height: 100vh;
    object-fit: cover;
}

.welcome-text {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
    animation: fadeInDown 1.2s ease-out;
    font-weight: bold;
}

.hero-title {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Abril Fatface", serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: white;
    animation: zoomIn 1.5s ease-out;
}

.lead {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.85);
    animation: fadeInUp 1.8s ease-out;
}

.btn-lg {
    animation: fadeInUp 2.5s ease-out;
    font-size: 1.1rem;
    padding: 10px 20px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

@keyframes turnRightZoomIn {
    0% {
        transform: scale(0.8) rotateY(-90deg);
        opacity: 0;
    }
    50% {
        transform: scale(1.05) rotateY(-45deg);
        opacity: 0.5;
    }
    100% {
        transform: scale(1) rotateY(0);
        opacity: 1;
    }
}

.card {
    animation: turnRightZoomIn 1s ease-in-out both;
    transform-origin: center; 
}

