<div id="carouselExampleCaptions" class="carousel slide hero-section" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <video class="d-block w-100 hero-image" autoplay muted loop>
                <source src="/video1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <h2 class="welcome-text">Welcome to</h2>
                <div class="content-wrapper">
                    <h1 class="hero-title animate-zoom">MOVIE HUB</h1>
                    <p class="lead animate-paragraph">Discover, explore, and connect with the latest and greatest
                        movies.</p>
                    <a class="btn btn-primary btn-lg animate-btn" routerLink="/login">Get Started</a>
                    <br><br>

                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="background-color: rgb(122, 115, 115); height: 300px;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-weight: bold; font-size: 1.7rem;">About Us
                                        </h5>
                                        <p class="card-text" style="font-weight: bold; font-size: 1.1rem;">
                                            At Movie Hub, we are passionate about bringing movie enthusiasts together.
                                            Our
                                            platform
                                            is dedicated to helping you explore, discover, and connect with a world of
                                            films.Join us and make every movie moment unforgettable !
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card"
                                    style="background-color: rgb(122, 115, 115); height: 300px; width: 350px;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-weight: bold; font-size: 1.7rem;">Contact Us
                                        </h5>
                                        <p>We’d love to hear from you!</p>
                                        <ul style="font-weight: bold; font-size: 1.1rem;">
                                            <li>Email: moviehub&#64;gmail.com</li>
                                            <li>Phone: +94 76-849-0642</li>
                                            <li>Address: NO:26, Haburugala, Bentota, Galle, Sri Lanka</li>
                                        </ul>
                                        <p>Let’s connect and make Movie Hub your go-to destination for everything
                                            movies!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <video class="d-block w-100 hero-image" autoplay muted loop>
                <source src="/video2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <h2 class="welcome-text">Welcome to</h2>
                <div class="content-wrapper">
                    <h1 class="hero-title animate-zoom">MOVIE HUB</h1>
                    <p class="lead animate-paragraph">Your gateway to blockbuster hits and hidden gems.</p>
                    <a class="btn btn-primary btn-lg animate-btn" routerLink="/login">Get Started</a>

                    <br><br>

                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="background-color: rgb(122, 115, 115); height: 300px;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-weight: bold; font-size: 1.7rem;">About Us
                                        </h5>
                                        <p class="card-text" style="font-weight: bold; font-size: 1.1rem;">
                                            At Movie Hub, we are passionate about bringing movie enthusiasts together.
                                            Our
                                            platform
                                            is dedicated to helping you explore, discover, and connect with a world of
                                            films.Join us and make every movie moment unforgettable !
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card"
                                    style="background-color: rgb(122, 115, 115); height: 300px; width: 350px;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-weight: bold; font-size: 1.7rem;">Contact Us
                                        </h5>
                                        <p>We’d love to hear from you!</p>
                                        <ul style="font-weight: bold; font-size: 1.1rem;">
                                            <li>Email: moviehub&#64;gmail.com</li>
                                            <li>Phone: +94 76-849-0642</li>
                                            <li>Address: NO:26, Haburugala, Bentota, Galle, Sri Lanka</li>
                                        </ul>
                                        <p>Let’s connect and make Movie Hub your go-to destination for everything
                                            movies!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <video class="d-block w-100 hero-image" autoplay muted loop>
                <source src="/video3.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <h2 class="welcome-text">Welcome to</h2>
                <div class="content-wrapper">
                    <h1 class="hero-title animate-zoom">MOVIE HUB</h1>
                    <p class="lead animate-paragraph">Explore stories from galaxies far, far away.</p>
                    <a class="btn btn-primary btn-lg animate-btn" routerLink="/login">Get Started</a>
                    <br><br>

                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="background-color: rgb(122, 115, 115); height: 300px;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-weight: bold; font-size: 1.7rem;">About Us
                                        </h5>
                                        <p class="card-text" style="font-weight: bold; font-size: 1.1rem;">
                                            At Movie Hub, we are passionate about bringing movie enthusiasts together.
                                            Our
                                            platform
                                            is dedicated to helping you explore, discover, and connect with a world of
                                            films.Join us and make every movie moment unforgettable !
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card"
                                    style="background-color: rgb(122, 115, 115); height: 300px; width: 350px;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-weight: bold; font-size: 1.7rem;">Contact Us
                                        </h5>
                                        <p>We’d love to hear from you!</p>
                                        <ul style="font-weight: bold; font-size: 1.1rem;">
                                            <li>Email: moviehub&#64;gmail.com</li>
                                            <li>Phone: +94 76-849-0642</li>
                                            <li>Address: NO:26, Haburugala, Bentota, Galle, Sri Lanka</li>
                                        </ul>
                                        <p>Let’s connect and make Movie Hub your go-to destination for everything
                                            movies!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>