.mb-3{
    font-weight: bold;
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
    font-family: "Abril Fatface", serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 1px;
    color: rgb(145, 222, 222);
    animation: fadeInSlideDown 2s ease-in-out; 
}

@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container-fluid{
    background-image: url('/signupBackground.avif');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: rgb(239, 237, 237); 
    background-color: #333;
}