<div class="container-fluid">
    <br>
    <div class="row">
        <app-nav-bar></app-nav-bar>
    </div>
    <br>
    <p class="desc" style="font-size: 2rem; font-family:'Merriweather', serif;">"Explore the world of Drama Movies, where powerful emotions and compelling stories take center stage. These films capture the depth of human experience, offering unforgettable journeys."</p><br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div *ngFor="let movie of movieList" class="col">
            <app-movie-item [movieInfo]="movie"></app-movie-item>
        </div>

    </div>
</div>